body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    color: #3f51b5;
    text-align: center;
}

h2 {
    color: #607d8b;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    border: 1px solid #ccc;
    margin: 10px 0;
    padding: 10px;
    display: inline-block;
}
