{% extends 'shop/base.html' %}

{% block content %}
    <h2>Список товаров</h2>

    {% if products %}
        <ul>
        {% for product in products %}
            <li>
                <a href="{% url 'product_detail' product.id %}">
                    <img src="{{ product.image.url }}" alt="{{ product.name }}" width="100">
                    <h3>{{ product.name }}</h3>
                    <p>Цена: {{ product.price|floatformat:2 }} руб.</p>
                </a>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>Товаров пока нет.</p>
    {% endif %}
{% endblock %}
